@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{
	font: 15px/1.5 "Ubuntu",sans-serif;
	background-image: url("../image/ywtus.jpg");
	background-size: cover;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4; 
}
/*Global*/
.body-content{
	width: 100%;
	margin:auto;
	overflow: hidden;
}
*{
	margin: 0;
	padding: 0;
	font-family: verdna;
}
main{
	padding: 50px;
	width: 80%;
	margin: auto;
	min-width: 100px;
}
nav{
	width: 100%;
	height: 100px;
	background-color: #0003;	
	line-height: 100px;
}
nav ul{
	float: right;
	margin-right: 30px;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.8s all;
}
nav ul li:hover{
	background-color: #f39d1a;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	padding : 30px;
}
.myaccount
{
	height: 50px;
	width: 150px;
	background: lightgreen;
	border: none;
	color: #000;
	border-radius: 25px;
}
.myaccount:hover{
	background: #ffc107;
	cursor: pointer;
}
.sginup
{
	width: 20%;
	height: 50px;
	background: none;
	border: 2px solid #4caf50;
	color: white;
	float: right;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px0;
	border-radius: 25px;
}
.sginup:hover{
	background: #ffc107;
	cursor: pointer;
}
.login
{
	width: 20%;
	height: 50px;
	background: none;
	border: 2px solid #4caf50;
	color: white;
	float: right;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px0;
	border-radius: 25px;
}
.login:hover{
	background: #ffc107;
	cursor: pointer;
}
.login-box{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}
.login-box h1{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #4caf50;
	margin-bottom: 50px;
	padding: 13px 0
}
.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #4caf50;
}
.textbox i{
	width: 26px;
	float: left;
	text-align: center;
}
.textbox input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 250px;
	float: left;
	margin: 0 10px;
}
.or {
	text-align: center;
	font-family: 'Roboto',sans-serif;
	display: block;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.login-facebook,
.login-twitter,
.login-gmail {
	width: 100%;
	padding: 15px 17px;
	color: #eee;
	margin: 7px 0;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	cursor: pointer;
}
.login-facebook{
	background: #3b5998;
}
.login-twitter {
	background: #55acee;
}
.login-gmail {
	background: #F34115;
}
.login-facebook span,
.login-twitter span,
.login-gmail span{
	font-family: 'Roboto',sans-serif;
	font-weight: normal;
	font-size: 17px;
	-webkit-text-transform: capitalize;
	-moz-text-transform: capitalize;
	-ms-text-transform: capitalize;
	-o-text-transform: capitalize;
	text-transform: capitalize;
}
.login-facebook i,
.login-twitter i,
.login-gmail i{
	margin-right: 10px;
	font-size: 17px;
}
.login-facebook:hover,
.login-twitter:hover,
.login-gmail:hover{
	background-color: lightblue;
}
.btn{
	width: 100%;
	background: none;
	border: 2px solid #4caf50;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px0;
}
.btn:hover{
	background: #ffc107;
	cursor: pointer;
}

.footer{
	width: 100%;
	background: #00121b;
	display: block;
}
.inner-footer{
	width: 95%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}
.footer-item{
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
}
h3{
	padding: 10px 0;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}
.footer-item p{
	color: #fff;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
}
h2{
	margin: 10px 0;
	color: #fff;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
}
.border{
	height: 2px;
	width: 40px;
	background: #ff9800;
}
ul{
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;
}
ul a{
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}
ul a:hover{
	color: #ff9800;
}
ul li{
	margin: 10px 0;
	height: 25px;
}
li i{
	margin-right: 0px;
}
.social-media a{
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}
.social-media{
	width: 100%;
	color: #fff;
	text-align: center;
}
.social-media a{
	text-decoration:none;
}
.social-media i{
	height: 15px;
	width: 15px;
	margin: 20px 5px;
	padding: 10px;
	color: #fff;
	border-radius: 50%;
	border: 1px solid gray;
	transition: 0.3s;
}
.social-media i:hover{
	background: yellow;
}
.footer-bottom{
	padding: 10px;
	background: #3d545f;
	color: #fff;
	font-size: 12px;
}



@media screen and (max-width: 1085px){
	.footer-item{
		width: 50%;
	}
}

